%section.being-active-unit
  .container
    .inner 
      %hgroup.lower
        %h1.no-marg-top Being active is being alive.
        %h3.no-marg-top We’ll help you find the best activity to be in shape.
      %form.form-inline
        .row-search
          .form-group
            %input.form-control.input-lg{:type => 'text', :id => 'in-type', :placeholder => 'What are you looking for?'}
          .form-group
            %input.form-control.input-lg{:type => 'text', :id => 'in-city', :placeholder => 'Where?'}
          .form-group
            %button.btn.btn-block.btn-primary.btn-lg.lower Find
  .bg-radial

#content.container
  The main page content.

.container
  %h3 Index page.
  
  .row
    .col-sm-4
      %p
        %a.btn.btn-default.btn-shadow.lower{:href => '#'} see all in our blog
    .col-sm-4
      %p
        %a.btn.btn-primary{:href => '#'} Test Button
    .col-sm-4
      %p
        %a.btn.btn-success{:href => '#'} Test Button
  
     