// Variables
// --------------------------------------------------
 
// Colours 
$white          : #ffffff;
$black          : #000000;

$gray-darker    : #323232;
$gray-dark      : #4b4b4b;
$gray           : #646464;
$gray-light     : #969696;
$gray-lighter   : #c8c8c8;
$blue           : #14a1de;
$orange         : #ee9730;
$orange-light   : #f0aa58;
$red            : #ee5b30;

$input-border-focus: #66afe9;
$color-rgba: rgba(red($input-border-focus), green($input-border-focus), blue($input-border-focus), .6);

// Brand colors
// -------------------------

$brand-primary:         #26b2ee !default;
$brand-success:         #5cb85c !default;
$brand-warning:         $orange;
$brand-danger:          $red;
$brand-info:            #5bc0de !default;


// Scaffolding
// -------------------------

$body-bg        : #fafafa;
$text-color     : $gray-light;

$footer-top     : 140px;

// Links
// -------------------------

$link-color         : $blue;
$link-hover-color   : darken($link-color, 15%);


// Typography
// -------------------------

$font-family-sans-serif   : "Source-Sans-Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif        : "Montserrat", Georgia, "Times New Roman", Times, serif;
$font-family-light        : "Open-Sans", "Source-Sans-Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace    : Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base         : $font-family-sans-serif;

$font-size-base           : 16px;
$font-size-large          : ceil($font-size-base * 1.25); // ~20px
$font-size-small          : ceil($font-size-base * 0.875); // ~14px

$font-size-h1             : floor($font-size-base * 2.5); // ~40px
$font-size-h2             : floor($font-size-base * 1.875); // ~30px
$font-size-h3             : ceil($font-size-base * 1.56); // ~25px
$font-size-h4             : ceil($font-size-base * 1.25); // ~20px
$font-size-h5             : ceil($font-size-base * 1.25); // ~20px
$font-size-h6             : $font-size-base; // ~16px

$font-size-h1-lg             : floor($font-size-base * 3.5); // ~56px
$font-size-h2-lg             : floor($font-size-base * 2.81); // ~45px
$font-size-h3-lg             : ceil($font-size-base * 1.625); // ~26px

$line-height-base         : 1.5; // 24/16
$line-height-computed     : floor($font-size-base * $line-height-base); // ~20px

$headings-font-family     : $font-family-serif;
$headings-font-weight     : bold;
$headings-line-height     : 1.2;
$headings-color           : $gray;


//== Type
//
//##

//** Text muted color
//$text-muted:                  $gray-light !default;
//** Abbreviations and acronyms border color
//$abbr-border-color:           $gray-light !default;
//** Headings small color
$headings-small-color:        $gray-light;
//** Blockquote small color
//$blockquote-small-color:      $gray-light !default;
//** Blockquote border color
//$blockquote-border-color:     $gray-lighter !default;
//** Page header border color
//$page-header-border-color:    $gray-lighter !default;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $brand-success;
//$state-success-bg:               #dff0d8 !default;
//$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                $brand-info;
//$state-info-bg:                  #d9edf7 !default;
//$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             $brand-warning;
//$state-warning-bg:               #fcf8e3 !default;
//$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              $brand-danger;
//$state-danger-bg:                #f2dede !default;
//$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;


// Buttons
// -------------------------

$btn-font-weight:                bold;

$btn-default-color:              $gray-dark;
$btn-default-bg:                 #f4f4f4;
$btn-primary-bg:                 $brand-primary;
$btn-success-bg:                 $brand-success;
$btn-info-bg:                    $brand-info;
$btn-warning-bg:                 $brand-warning;
$btn-danger-bg:                  $brand-danger;




// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

$padding-base-vertical:          11px;
$padding-base-horizontal:        24px;

$padding-large-vertical:         15px;
$padding-large-horizontal:       30px;

$padding-small-vertical:         9px;
$padding-small-horizontal:       12px;

$padding-xs-vertical:            1px !default;
$padding-xs-horizontal:          5px !default;

$line-height-large:              1.25;
$line-height-small:              1.5 !default;

$border-radius-base:             30px;
$border-radius-large:            40px;
$border-radius-small:            20px;


// Forms
// -------------------------

$input-bg:                       #fff !default;
//$input-bg-disabled:              $gray-lighter !default;

$input-color:                    $gray-dark;
$input-border:                   #ccc !default;
$input-border-radius:            $border-radius-base !default;
$input-border-focus:             #66afe9 !default;

$input-color-placeholder:        $gray-light;

$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

$legend-color:                   $gray-dark !default;
$legend-border-color:            #e5e5e5 !default;

//$input-group-addon-bg:           $gray-lighter !default;
//$input-group-addon-border-color: $input-border !default;


//== Thumbnails
//
//##

//** Padding around the thumbnail image
$thumbnail-padding:           0;
//** Thumbnail background color
$thumbnail-bg:                $body-bg;
//** Thumbnail border color
//$thumbnail-border:            #ddd !default;
//** Thumbnail border radius
$thumbnail-border-radius:     5px;

//** Custom text color for thumbnail captions
//$thumbnail-caption-color:     $text-color !default;
//** Padding around the thumbnail caption
//$thumbnail-caption-padding:   9px !default;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                    $white;
//** Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.1);
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ddd;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            darken(#f6f6f6, 5%);

//** Dropdown link text color.
$dropdown-link-color:            $gray-light;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      $white;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         $blue;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $white;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        darken($blue, 5%);

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $gray-lighter;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $blue;

// Note: Deprecated $dropdown-caret-color as of v3.1
//$dropdown-caret-color:           #000 !default;


//== Breadcrumbs
//
//##

$breadcrumb-padding-vertical:   0; 
$breadcrumb-padding-horizontal: 0;
//** Breadcrumb background color
$breadcrumb-bg:                 transparent;
//** Breadcrumb text color
$breadcrumb-color:              $gray-light;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color:       $blue;
//** Textual separator for between breadcrumb elements
$breadcrumb-separator:          "›" !default;


// Navbar
// -------------------------

// Basics of a navbar
$navbar-height          : 45px;
$navbar-height-lg       : 68px;
$navbar-default-color   : $gray-darker;

$navbar-padding-vertical-lg:          (($navbar-height-lg - $line-height-computed) / 2);

// Navbar links
$navbar-default-link-color:                $gray-darker;
$navbar-default-link-hover-color:          $blue;


//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:  7px 20px;


// Grid system
// --------------------------------------------------

// Number of columns in the grid system
$grid-columns:              12;
// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         25px;


// Container sizes
// --------------------------------------------------

// Small screen / tablet
$container-tablet:             ((720px + $grid-gutter-width));
$container-sm:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            ((940px + $grid-gutter-width));
$container-md:                 $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      996px;
$container-lg:                 $container-large-desktop;


