/*!
 * Project: Fitogram
 * Date: 01232014
 * 
 * Author: Eugene Tsurcan 
 * Front End Developer 
 * [http://www.linkedin.com/in/eugenetsurcan] 
 *  
 */


// ---------------------------------------------------------------------------
// Imports

@import "variables";
@import "bootstrap";
@import "font-awesome";
@import "mixins";

@import "jquery.ui.all";
@import "fullcalendar";
@import "libs/idangerous.swiper";


/* ==========================================================================
   Base
   ========================================================================== */

html, body { background: $body-bg; @include gradient-vertical($body-bg, $white, 70%); height: 100%; 
  @media (min-width: $screen-lg-min) { background: $gray-dark; }
}

body { padding-top: #{$navbar-height - 2px}; 
  @media (min-width: $screen-sm-min) { padding-top: #{$navbar-height-lg - 2px}; }
}

.root { overflow: hidden; position: relative; width: 100%; @include clearfix;
  @media (min-width: $screen-lg-min) { height: 100%; overflow: visible; }
}

a { @include transition(#{background .15s, color .15s, border-color .15s}); }

p { margin-bottom: 22px; }

.container { 
  > hr { 
    @media (min-width: $screen-sm-min) { margin: 45px -#{$grid-gutter-width / 2}; }
    @media (min-width: $screen-lg-min) { margin: 45px -#{$grid-gutter-width}; }
  }
  
  @media (min-width: $screen-lg-min) { padding: {left: $grid-gutter-width; right: $grid-gutter-width;} }
}

// Flex Video lets browsers automatically scale video objects in your webpages
.flex-video { position: relative; padding-bottom: 67.5%; height: 0; overflow: hidden; 
  &.widescreen { padding-bottom: 57.25%; }
  &.squarescreen { padding-bottom: 100%; }
  
  iframe, object, embed, video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}

// Thumbnail
.thumbnail { border: 0 none; @include box-shadow(#{0 4px 6px rgba($black, .35)}); 
  &.thumbnail-sm { border-radius: ($thumbnail-border-radius - 2px); @include box-shadow(#{0 2px 4px rgba($black, 0.25)}); }
}

// Dropdown
.dropdown-menu { border-radius: $thumbnail-border-radius; color: $text-color; margin-top: 9px; padding: {top: 12px; bottom: 12px;} text-align: left; 
  .dropdown-header { font: {family: $font-family-serif; size: 18px; weight: bold;} 
    a { background: none transparent; color: $blue; font-weight: bold; padding: 0; text-decoration: none; 
      &:hover { background: none transparent; color: darken($blue, 12%); text-decoration: underline; }
    }  
  }
  
  .group-list { margin: {left: 14px; right: 14px;}
    + .group-list { border-top: 1px solid $dropdown-divider-bg; margin-top: 3px; padding-top: 11px; }
    
    > ul, > .dropdown-header { margin: {left: -14px; right: -14px;} }
  }
  
  .divider { margin: 3px 14px 11px; }
  
  .more { font-size: 14px;
    a { color: $blue; text-decoration: underline;
      &:hover, &:focus { background: none; color: $blue; text-decoration: none; }
    }
  }
  
  li a { color: $dropdown-link-color; clear: both; display: block; font-weight: normal; line-height: $line-height-base; margin: {left: 1px; right: 1px;} padding: 3px 19px; white-space: nowrap; 
    &:hover, &:focus { text-decoration: none; color: $dropdown-link-hover-color; background-color: $dropdown-link-hover-bg; }
  }
  
  .active > a {
    &,
    &:hover,
    &:focus {
      color: $dropdown-link-active-color;
      text-decoration: none;
      outline: 0;
      background-color: $dropdown-link-active-bg;
    }
  }
  
  &:after { bottom: 100%; border: {left: 9px solid transparent; right: 9px solid transparent; bottom: 11px solid $white;} content: ''; display: block; height: 0; left: 20px; position: absolute; width: 0; }
  &:before { bottom: 100%; border: {left: 10px solid transparent; right: 10px solid transparent; bottom: 12px solid $dropdown-fallback-border;} content: ''; display: block; height: 0; left: 19px; position: absolute; width: 0; }
}

.dropdown {
  .dropdown-menu { width: 100%; }
  
  .btn { padding: {left: 15px; right: 15px;} text-align: left; 
    .caret { float: right; margin-top: 9px; }
  }
}

// Breadcrumb
.breadcrumb { font-size: 14px; padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal; 
  a { color: $text-color;
    &:hover, &:focus { color: $blue; }
  }
}

// Tooltip
.tooltip { font: {size: 14px; weight: normal;} }
.tooltip-inner { border-radius: 4px; }

// List Inline
.list-inline {
  > li { padding: {left: 0; right: 6px;} }
}


/* ==========================================================================
   Tables
   ========================================================================== */

.table-responsive { border: 0 none; }


/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Font Face
 */

/* Montserrat Regular */
@font-face {  
  font-family: 'Montserrat';
  src: asset-url('montserrat-regular.eot');
  src: asset-url('montserrat-regular.eot?#iefix') format('embedded-opentype'),
       asset-url('montserrat-regular.woff') format('woff'),
       asset-url('montserrat-regular.ttf') format('truetype'),
       asset-url('montserrat-regular.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Montserrat Bold */
@font-face {  
  font-family: 'Montserrat';
  src: asset-url('montserrat-bold.eot');
  src: asset-url('montserrat-bold.eot?#iefix') format('embedded-opentype'),
       asset-url('montserrat-bold.woff') format('woff'),
       asset-url('montserrat-bold.ttf') format('truetype'),
       asset-url('montserrat-bold.svg#montserratbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

/* Source-Sans-Pro Regular */
@font-face {  
  font-family: 'Source-Sans-Pro';
  src: asset-url('sourcesanspro-regular.eot');
  src: asset-url('sourcesanspro-regular.eot?#iefix') format('embedded-opentype'),
       asset-url('sourcesanspro-regular.woff') format('woff'),
       asset-url('sourcesanspro-regular.ttf') format('truetype'),
       asset-url('sourcesanspro-regular.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Source-Sans-Pro Italic */
@font-face {  
  font-family: 'Source-Sans-Pro';
  src: asset-url('sourcesanspro-italic.eot');
  src: asset-url('sourcesanspro-italic.eot?#iefix') format('embedded-opentype'),
       asset-url('sourcesanspro-italic.woff') format('woff'),
       asset-url('sourcesanspro-italic.ttf') format('truetype'),
       asset-url('sourcesanspro-italic.svg#source_sans_proitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

/* Source-Sans-Pro Bold */
@font-face {  
  font-family: 'Source-Sans-Pro';
  src: asset-url('sourcesanspro-bold.eot');
  src: asset-url('sourcesanspro-bold.eot?#iefix') format('embedded-opentype'),
       asset-url('sourcesanspro-bold.woff') format('woff'),
       asset-url('sourcesanspro-bold.ttf') format('truetype'),
       asset-url('sourcesanspro-bold.svg#source_sans_probold') format('svg');
  font-weight: bold;
  font-style: normal;
}

h4, h5, h6 { margin: {top: 17px; bottom: 14px;} }

h5 { margin-bottom: 20px; }

h2, .h2 { margin-bottom: 30px; }
h4, .h4 { line-height: 1.4; }
h5, .h5 { font-weight: normal; }

@media (min-width: $screen-md-min) {
  h1, .h1 { font-size: $font-size-h1-lg; }
  h2, .h2 { font-size: $font-size-h2-lg; margin-bottom: 40px; }
  h3, .h3 { font-size: $font-size-h3-lg; }
}

hgroup { margin-bottom: 40px; }
h1 + h3 { margin-top: 7px; }
h2 + h3 { margin-top: 16px; }

.text-primary { @include text-emphasis-variant($brand-primary); }
.text-success { @include text-emphasis-variant($state-success-text); }
.text-info { @include text-emphasis-variant($state-info-text); }
.text-warning { @include text-emphasis-variant($state-warning-text); }
.text-danger { @include text-emphasis-variant($state-danger-text); }

.text-primary a, .text-success a, .text-info a, .text-warning a, .text-danger a,
a.text-primary, a.text-success, a.text-info, a.text-warning, a.text-danger {
  text-decoration: underline;
  
  &:hover { text-decoration: none; }
}

h4 small, h4 .small, h5 small, h5 .small, h6 small, h6 .small { font-size: 80%; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  small, .small { font-family: $font-family-sans-serif; }
}

label { color: $gray-dark; }

// Blockquotes
blockquote { border-left: 0 none; font: {size: $font-size-base; style: italic;} padding: 10px 0 0 50px; position: relative;
  &:before { content: '“'; font: {size: 65px; style: normal; weight: bold;} left: 0; line-height: 1.0; position: absolute; top: 0; }
}

// Label
.label { @include inline-block; font: {family: $font-family-serif; size: 80%;} padding: .6em .65em .6em; }


/* ==========================================================================
   Buttons Styles
   ========================================================================== */
  
// Common styles
.btn { border: 0 none; font-family: $font-family-serif;
  // Remove the gradient for the pressed/active state
  &:active,
  &.active {
    background-image: none;
  }
  
  &.btn-xs { font: {size: 12px; weight: normal;} line-height: 25px; }
}

// Button Link
.btn-link { color: $gray-dark; 
  &:hover, &:focus { color: $blue; }
  
  &.btn-sm { font-size: 12px; line-height: ($font-size-small * $line-height-base); }
}

.btn-circle { background: $body-bg; border: 0 none; border-radius: 50px; color: $blue; font-size: 37px; height: 100px; line-height: 100px; padding: 0; text-align: center; @include transition(#{all .3s}); width: 100px; 
  &:hover, &:focus { color: $blue; @include box-shadow(0 0 20px rgba($black, .6)); outline: none; }
}

.btn-shadow { @include box-shadow(#{0 2px 4px rgba($black, .45)}); 
  &.btn-xs { @include box-shadow(#{0 1px 3px rgba($black, .35)}); }
}

.btn-lg, .btn-group-lg > .btn { font-size: $font-size-large - 2; line-height: $font-size-large * $line-height-large; padding: {left: $padding-large-horizontal; right: $padding-large-horizontal;} 
  &.btn-block { padding: {left: 0; right: 0;} }
  
  @media (min-width: $screen-md-min) { padding: {left: 52px; right: 52px;} }
}

// Apply the mixin to the buttons
.btn-default { @include btn-styles($btn-default-bg); }
.btn-primary { @include btn-styles($btn-primary-bg); }
.btn-success { @include btn-styles($btn-success-bg); }
.btn-info    { @include btn-styles($btn-info-bg); }
.btn-warning { @include btn-styles($btn-warning-bg); }
.btn-danger  { @include btn-styles($btn-danger-bg); }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  .btn { margin: {left: 15px; right: 15px;} }
}

// Button Group
.btn-group { background: #e6e6e6; border: 1px solid #909191; border-color: #909191 mix(#909191, #e6e6e6) #e6e6e6; border-radius: 4px; @include box-shadow(#{inset 0 3px 5px -2px rgba($black, .2)}); padding: 1px 0;
  > .btn { border-radius: 4px!important; color: $gray-light; position: relative;
    &:after { background: #c6c6c6; @include gradient-vertical-three-colors(#e0e0e0, #c6c6c6, 50%, #e0e0e0); content: ''; display: none; height: 94%; left: auto; margin-left: -3px; position: absolute; top: 3%; width: 1px; }
    + .btn:after { display: block; }
    &.active + .btn:after, &.active:after { display: none; }
  
    &.btn-sm { font-size: 10px; line-height: ($font-size-small * $line-height-base);
      @media (min-width: $screen-sm-min) { font-size: $font-size-small; line-height: $line-height-base; }
    }
  }
}

.btn-group-danger {
  > .btn { border: 1px solid transparent; }
  > .btn.active { @include box-shadow(#{none}); @include btn-styles($btn-danger-bg); color: $white; }
}

.btn-group-justified { border-spacing: 1px 0; 
  > .btn { padding: {left: 1px; right: 1px;} }
}


/* ==========================================================================
   Form Styles
   ========================================================================== */
  
.form-control { border-color: lighten(#979797, 10%) lighten(#979797, 20%) #e4e4e4; @include box-shadow(#{inset 0 1px 2px 0 lighten(#979797, 10%)}); 
  &:focus {
    border-color: $input-border-focus;
    @include box-shadow(#{inset 0 1px 2px 0 lighten(#979797, 10%), 0 0 8px $input-border-focus});
  }
}

.input-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn { line-height: $line-height-large + 0.1; }

input[type="radio"], input[type="checkbox"] { margin-top: 5px; }

.radio, .checkbox { margin-top: 0; }

@media (min-width: $screen-md-min) {
  // Checkboxes and radios
  .radio, .checkbox { padding-left: 20px; }
  
  .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] { margin-left: -20px; }
}

// Styles for Typeahead
.twitter-typeahead { display: block!important; }
.tt-hint { display: none!important; }
.tt-query { background-color: $input-bg!important; vertical-align: inherit!important; }

// Wrapper Input with Icon
.wrapper-input { position: relative; 
  > .form-control { padding-left: 42px; }
  > .fa { color: $input-color-placeholder; font-size: 18px; height: 100%; line-height: 41px; left: 2px; position: absolute; text-align: center; top: 0; width: 40px; }
}


/* ==========================================================================
   Header Styles
   ========================================================================== */

.header {
  // Navbar Header 
  .navbar { background: #f2f2f2; @include gradient-vertical(#fafafa, #f2f2f2, 0%, 75%); @include box-shadow(#{0 1px 15px rgba($black, .3)}); border: 0 none; padding: 0 #{$grid-gutter-width / 2}; font-size: 14px; @include transition(#{all .3s});
    .navbar-brand { margin: 0 (-$navbar-padding-horizontal); padding: #{($navbar-height - 34px) / 2} 10px; 
      @media (min-width: $screen-sm-min) { padding: #{($navbar-height-lg - 34px) / 2} 15px; margin: 0; } 
    }
    
    .navbar-nav { float: left; margin: {top: 0; bottom: 0;}
      @media (min-width: $screen-md-min) { float: none; }
    }
    
    .navbar-header { float: right;
      @media (min-width: $screen-md-min) { float: none; position: absolute; top: 0; left: 50%; margin-left: -#{62px + 15px}; }
    
      &.navbar-left { float: left; 
        @media (min-width: $screen-md-min) { float: left; position: static; margin-left: 0; }
        .navbar-brand {
          @media (min-width: $screen-sm-min) { padding: {left: 0; right: 0;} }
        }
      }
    }
    
    @media (min-width: $screen-sm-min) { min-height: $navbar-height-lg; padding: {left: 20px; right: 20px;} } 
  }
  
  .navbar-form { background: none; display: none; margin-top: 13px; 
    @media (min-width: $screen-md-min) { display: block; }
  }
  
  .nav > li { float: left;
    > a { padding: {left: 10px; right: 10px;} 
      &:hover .fa, &:hover .glyphicon { color: $navbar-default-link-hover-color; }
    }
    
    .fa, .glyphicon { color: $gray-light; font-size: 24px; margin: -10px 3px -10px 0; position: relative; top: 4px; }
    .glyphicon { font-size: 20px; top: 5px; }
    
    @media (min-width: $screen-sm-min) {
      > a { padding: $navbar-padding-vertical-lg 15px $navbar-padding-vertical-lg; }
      
      .fa, .glyphicon { margin-right: 15px; }
    }
  }
  
  .search-form .btn > span { display: none; }
}


/* ==========================================================================
   Menu Styles
   ========================================================================== */

.menu { background: #fafafa; @include box-sizing(#{border-box}); color: $gray-light; float: left; margin-left: -100%; max-width: 85%; padding: 0 20px 20px; position: relative; @include transition(#{all .3s}); width: 300px; z-index: $zindex-navbar-fixed - 1;
  // Navigation Head
  .menu-head { font-family: $font-family-serif; margin: 13px 0; 
    .close { color: $gray-light; @include inline-block; border: 2px solid $gray-light; border-radius: 40px; height: 24px; @include opacity(1); line-height: 21px; text-align: center; width: 24px; 
      &:hover { color: $blue; border-color: $blue; }
    }
  }
  
  .nav { font-size: 14px; margin: {left: -20px; right: -20px; bottom: 20px;} 
    a { color: $gray-light; }
    
    // Navigation Popular Searches
    &.nav-popular-searches {
      a { color: $blue; font-weight: bold; 
        small { color: $gray-light; font: {size: 12px; weight: normal;} }
      }
      .active a, a:hover, a:focus { background: $blue; color: $white; 
        small { color: $white; }
      }
    } 
    
    // Navigation Lates Blog
    &.nav-latest-blog {
      .active a, a:hover, a:focus { background: $orange; color: $white; font-weight: bold; }
    } 
  }
  
  // Navigation Main
  .nav-main { font-family: $font-family-serif;
    > li { border: 1px solid #e7e7e7; border-width: 1px 0; 
      + li { border-top: 0 none; }
    }
    
    a { color: $gray-dark; } 
    
    .active a, a:hover, a:focus { background: darken($white, 5%); color: $blue; }
  }
  
  // Bottom links
  .bottom-links { font-size: 12px; margin-top: 30px; text-transform: lowercase; 
    a { color: $gray-dark; padding: {top: 4px; bottom: 4px;} } 
    
    .active a, a:hover, a:focus { background: none transparent; color: $blue; text-decoration: underline; }
  }
  
  hr { border-color: #eaeaea; margin: 13px -20px; }
  
  .search-form { padding-top: 15px;
    .form-group { float: none!important; width: 100%!important; }
    .form-control { display: block; width: 100%; }
    
    @media (min-width: $screen-md-min) { display: none; 
      + hr { display: none; }
    }
  }
  
  @media (min-width: $screen-lg-min) { float: none; height: auto; left: 0; margin-left: 0; min-height: 100%; max-width: none; @include opacity(.3); position: absolute; top: 0; @include translate3d(-300px, 0, 0); z-index: $zindex-navbar-fixed - 1; }
}

@media (min-width: $screen-lg-min) {
  .menu-bg { @include box-shadow(#{1px 0 15px rgba($black, .3)}); background: #fafafa; @include gradient-vertical(#fafafa, $white, 70%); height: 100%; left: 0; @include opacity(.3); position: fixed; bottom: 0; @include translate3d(-300px, 0, 0); @include transition(#{all .3s}); width: 300px; z-index: $zindex-navbar-fixed - 2; }
  .no-boxshadow .menu-bg { border-right: 1px solid #eaeaea; }
}

.no-csstransforms3d {
  @media (min-width: $screen-lg-min) { 
    .menu, .menu-bg { left: -300px; }
    .active-menu .menu, .active-menu .menu-bg { left: 0; }
  }
}

// Show Menu
.active-menu {
  .header {
    .toggle-menu { color: $blue; 
      .fa { color: $blue; }
    }
    
    .navbar { @include box-shadow(#{300px 1px 15px rgba($black, .3)}); }
  }
  
  // Off-Canvas menu
  .menu { margin-left: 0; }
  .wrapper-content { margin-right: -100%; 
    &:after { display: block; }
  }
   
  @media (min-width: $screen-lg-min) {
    .menu-bg, .menu { @include opacity(1); @include translate3d(0, 0, 0); }
    .wrapper-content { margin-right: 0; 
      &:after { display: none; }
    }
  }
}

.no-boxshadow .active-menu { 
  .wrapper-content { border-left: 1px solid #eaeaea; }
  
  @media (min-width: $screen-lg-min) {
    .wrapper-content { border-left: 0 none; }
  }
}

/* Social Links */
.soc-links { @include clearfix; margin: 19px 0; }

.btn-soc { background: $gray; @include box-shadow(#{0 1px 3px rgba($black, .3)}); color: $white!important; height: 35px; line-height: 36px; min-width: 47px; padding: 0 6px;  
  &.s-facebook { @include btn-styles(#466bb9); 
    .ico-circle { color: #466bb9; }
  }
  &.s-twitter { @include btn-styles(#5bccf7); 
    .ico-circle { color: #5bccf7; }
  }
  &.s-google { @include btn-styles(#f55f4d); 
    .ico-circle { color: #f55f4d; }
  } 
  
  .ico-circle { background: $white; border-radius: $border-radius-base; @include box-shadow(#{inset 0 2px 3px rgba($black, .3)}); color: $gray; @include inline-block; float: left; height: 25px; line-height: 25px; margin-top: 5px; width: 25px; }
  
  &:hover, &:focus { color: $white; }
  
  &.btn-soc-lg { min-width: 137px; }
}


/* ==========================================================================
   Main Styles
   ========================================================================== */

$top-pad-content-page: 30px; 
$min-height-content-page: 650px;

/**
 * Wrapper Content
 */ 
.wrapper-content { background: $body-bg; float: left; margin-left: 0; overflow: hidden; position: relative; @include transition(#{all .3s}); width: 100%; z-index: 3;
  @media (min-width: $screen-lg-min) { background: $gray-dark; float: none; height: 100%; overflow: visible; width: auto; }
  
  &:after { @include box-shadow(#{inset 10px 2px 15px -15px rgba($black, .3)}); content: ""; display: none; height: 100%; left: 0; position: absolute; right: 0; top: 0; @include transition(#{none}); z-index: $zindex-navbar-fixed - 1; }
    
  > .content-page { background: $body-bg; @include gradient-vertical-three-colors(#f8f8f8, #f9decb, 70%, #cb978a); margin-bottom: -#{$footer-top + 50px}; min-height: $min-height-content-page; overflow: hidden; padding: {bottom: $footer-top + 50px; top: $top-pad-content-page;} position: relative; @include clearfix; 
    &.home-content { background: none $body-bg; @include reset-filter; }
    
    > .well-white { background: $white; @include box-shadow(#{0 5px 20px rgba($black, .08)}); color: $gray-dark; margin: {top: -$top-pad-content-page; left: ($grid-gutter-width / 2); right: ($grid-gutter-width / 2);} min-height: $min-height-content-page; padding: {top: 35px; bottom: 30px;} 
      @media (min-width: $screen-sm-min) { margin: {left: auto; right: auto;} padding-top: 60px; }
    
      hr { border-color: lighten($gray-lighter, 10%); margin: {top: 18px; bottom: 18px;} }
    }
  }
}

article > .marg-right { margin-right: 0!important; 
  @media (min-width: $screen-sm-min) { margin-right: 15px!important; }
}

/**
 * Sidebar Right
 */
.sidebar-right { font-size: 14px;
  h6 { font-size: 18px; margin: {top: 27px; bottom: 17px;} }
}

// Features Blog
.features-blog { @include clearfix;
  h6 { font-size: 14px; margin: {top: 0; bottom: 1px;}
    a { color: $gray-dark; 
      &:hover { color: $blue; }
    }
    
    @media (min-width: $screen-md-min) { margin-top: 8px; }
  }
  
  p { margin-bottom: 0; }
  
  .media {
    > .pull-left { margin-right: 25px; }
    .thumbnail { margin-bottom: 0; }
  }
  
  > li { margin-bottom: 20px; }
}

// Search Form
.search-form {
  $gutter-search-width: 10px;
    
  .row-search { @include make-row($gutter-search-width); 
    > .form-group:first-child { @include make-sm-column(10, $gutter-search-width, 18); 
      + .form-group { @include make-sm-column(5, $gutter-search-width, 18); 
        + .form-group { @include make-sm-column(3, $gutter-search-width, 18); }
      }
    }
  }
  
  .dropdown-menu {
    &:after { left: 48px; }
    &:before { left: 47px; }    
  }
}

// Page Header
.page-header { border: 0 none; margin: 0 0 25px; padding: 0; 
  .media {
    > .pull-left, > .pull-right { float: none!important; margin: {left: 0; right: 0;} }
    .media-body { overflow: visible; }
  }
  
  h2, .h2 { color: $gray-darker; font-size: ceil($font-size-base * 1.56); // ~25px 
    small, .small { display: block; font-size: 18px; }
  } 
  
  @media (min-width: $screen-md-min) {
    .media {
      > .pull-left { float: left!important; margin-right: 10px; }
      > .pull-right { float: right!important; margin-left: 10px; }
      .media-body { overflow: visible; }
    }
    
    h2, .h2 { font-size: ceil($font-size-base * 2.18); } // ~35px
  }
}

/**
 * Hero Unit
 */
.hero-unit { background: image-url('being-active-2.jpg') center center $gray-dark; background-size: cover; @include box-shadow(#{inset 0 -1px 15px rgba($black, .3)}); color: $white; height: 100%; padding: {bottom: 100px; top: 40px;} position: relative; text-align: center; @include clearfix; z-index: 5; 
  > .container { height: 100%; position: relative; }
  
  hgroup { text-shadow: 0 1px 4px rgba($black, .8); }
  
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: inherit; }
  
  .inner { @include clearfix; @include gradient-radial(rgba($black, .5), transparent, #{ellipse contain}); 
    @media (min-width: $screen-lg-min) { min-height: 80%; position: absolute; top: 50%; left: 0; right: 0; margin-top: -100px; }
  }
  
  .bg-radial { position: absolute; top: 0; left: 0; right: 0; height: 100%; @include gradient-radial(#{transparent 50%}, rgba($black, .5)); z-index: -1; }

  .btn-circle { bottom: -33px; left: 50%; margin-left: -50px; position: absolute; }
  
  @media (min-width: $screen-lg-min) { max-height: 900px; min-height: 350px;
    form { margin: 0 55px; }
  }
  
  .bg-bottom { height: 100%; left: 0; overflow: hidden; position: absolute; right: 0; top: 0; z-index: -1;
    &:after, &:before { background: $white; content: ''; display: block; height: 80%; left: -10%; position: absolute; top: 100%; width: 120%; z-index: -1; }
    &:before { @include rotate(1.6deg); margin-top: -30px; @include opacity(.5); }
    &:after { @include rotate(0.7deg); margin-top: -12px; @include opacity(.3); }
    
    @media (min-width: $screen-md-min) {
      &:before { margin-top: -1.6%; }
      &:after { margin-top: -0.7%; }
    }
  }
  
  // Hero Small
  &.hero-small { background: image-url('being-active-2.jpg') center center $gray-dark; background-size: cover; height: auto; min-height: 0; max-height: none; padding: {top: 46px; bottom: 59px;}
    .inner {
      @media (min-width: $screen-md-min) { min-height: none; position: static; margin-top: 0; }
    }
    
    @media (min-width: $screen-sm-min) { background-attachment: fixed; }
  }
  
  .search-row .btn > .fa { display: none; }
  
  @media (min-width: $screen-sm-min) { background-attachment: fixed; }
}

.no-csstransforms .being-active-unit {
  &:after, &:before { display: none; }
}

.no-backgroundsize .being-active-unit { background-size: 100% auto;
  @media (min-width: $screen-md-min) { background-size: 0 100%; }
}

.scroll-end { position: relative; top: -#{$navbar-height}; 
  @media (min-width: $screen-sm-min) { top: -#{$navbar-height-lg}; }
}

/**
 * Find Place Unit
 */
.find-place-unit {
  @media (min-width: $screen-sm-min) { margin-top: 20px; }
  
  // Wrapper Google map
  .wrapper-map { margin-bottom: -180px; position: relative; z-index: 3;
    .btn { margin-top: 20px; }
    
    @media (min-width: $screen-lg-min) { margin-bottom: -130px;
      .btn { background: none $brand-warning; border-radius: #{$border-radius-large 0 0 $border-radius-large}; @include box-shadow(#{-2px 2px 4px rgba($black, .45)}); bottom: 20px; padding-bottom: #{$padding-large-horizontal / 2 - 1px}; position: absolute; right: -7px; z-index: 5; 
        &:after { border: {top: 27px solid transparent; left: 40px solid $brand-warning; bottom: 27px solid transparent;} content: ''; display: block; height: 0; left: 100%; position: absolute; top: 0; width: 0; }
        &:hover { background: darken($brand-warning, 5%); 
          &:after { border-left-color: darken($brand-warning, 5%); }
        }
      }
    }
  }
  
  // Bottom Info
  .bottom-info { background: image-url('find-map.jpg') center center $blue; background-size: cover; color: $white; overflow: hidden; padding: {top: 260px; bottom: 150px;} position: relative; z-index: 2;
    a { color: $white; text-decoration: none; }
    
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: inherit; }
    
    &:before, &:after { bottom: 100%; content: ''; display: block; height: 80%; left: -10%; position: absolute; width: 120%; z-index: -1; }
    &:after { background: $body-bg; @include rotate(-4deg); margin-bottom: -4%; }
    &:before { background: lighten($blue, 25%); @include rotate(-1deg); margin-bottom: -4%; }
    
    @media (min-width: $screen-md-min) {
      &:before { @include rotate(-2.5deg); }
    }
    
    @media (min-width: $screen-lg-min) { padding-top: 175px; }
    
    .bg-bottom {
      &:after, &:before { content: ''; display: block; height: 80%; left: -10%; position: absolute; top: 100%; width: 120%; z-index: -1; }
      &:after { background: $orange-light; @include rotate(3deg); margin-top: -20px; }
      &:before { background: lighten($blue, 25%); @include rotate(5deg); margin-top: -25px; }
      
      @media (min-width: $screen-md-min) {
        &:after { @include rotate(1.6deg); margin-top: -1.6%; }
        &:before { @include rotate(3deg); margin-top: -1.6%; }
      }
    }
    
    @media (min-width: $screen-sm-min) { background-attachment: fixed; }
  }
}

/**
 * List Places
 */
.list-places { margin-bottom: 0; text-align: center;
  > li { margin-bottom: 20px; }
  
  a { display: block; margin: 0 auto; max-width: 315px; position: relative; @include transition(#{all .15s}); z-index: 1; 
    &:hover { @include scale(1.05);
      .overlay:after { @include box-shadow(#{inset 0 0 60px 40px rgba($black, .3)}); }
    }
  }
  
  .thumbnail { margin-bottom: 0; }
  
  .overlay { @include box-sizing(#{border-box}); display: block; height: 100%; left: 0; padding: 10px 20px; position: absolute; right: 0; top: 0; z-index: 2; 
    > .h3 { display: table-cell; height: 128px; max-width: 100%; vertical-align: middle; width: 275px;
      + span { display: block; text-decoration: underline; }
    }
    
    &:after { background: rgba($black, .3); border-radius: $thumbnail-border-radius; content: ''; display: block; height: 100%; left: 0; position: absolute; right: 0; top: 0; @include transition(#{all .3s}); z-index: -1; }
  }
}

/**
 * Blog Unit
 */
.blog-unit { color: $white; margin-bottom: 80px; position: relative; z-index: 2;
  > .inner { background: image-url('blog-bg.jpg') center top $orange-light; background-size: cover; padding: {top: 35px; bottom: 50px;} }
  
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: inherit; }
  
  h2 { margin-bottom: 23px; 
    a { color: $white; text-decoration: underline;
      &:hover, &:focus { text-decoration: none; }
    }
  }
  
  &:before, &:after { bottom: 0; content: ''; display: block; height: 80%; position: absolute; z-index: -1; }
  &:before { background: $orange; left: -20%; margin-bottom: -3%; @include opacity(.5); @include rotate(-3deg); width: 120%; }
  &:after { background: $orange; right: -20%; margin-bottom: -2.5%; @include opacity(.3); @include rotate(3.5deg); width: 120%; }
  
  @media (min-width: $screen-md-min) {
    &:before { left: -10%; @include rotate(-1.2deg); margin-bottom: -1.2%; }
    &:after { right: -10%; @include rotate(2deg); margin-bottom: -1%; }
  }
  
  @media (min-width: $screen-sm-min) { margin-bottom: 150px; 
    > .inner { padding-bottom: 150px; }
  }
}

/**
 * List Posts
 */
.list-posts { margin-bottom: 0; text-align: center; 
  > li { margin-bottom: 30px; @include clearfix; }
}

// Item Post
.item-post { background: $white; color: $gray-dark; display: block; margin: 40px auto 0; max-width: 315px; position: relative;
  > a { display: block; position: relative;
    img { border-radius: $thumbnail-border-radius $thumbnail-border-radius 0 0; }
    &:after { border-radius: $thumbnail-border-radius $thumbnail-border-radius 0 0; content: ''; display: block; height: 100%; left: 0; position: absolute; right: 0; top: 0; @include transition(#{all .3s}); z-index: 1; }
  }
  
  h4 { color: $orange; 
    a { display: block; }
  }
  
  a { color: $orange; text-decoration: none; 
    &:hover, &:focus { color: darken($orange, 12%); }
  }
  
  p { margin-bottom: 0; }
  
  figcaption { min-height: 225px; padding: 7px 20px 11px; }
  
  .icon-blog { background: $white; border-radius: 50px; @include box-shadow(#{0 3px 5px rgba($black, .4)}); color: $orange; font-size: 26px; height: 70px; left: 50%; line-height: 80px; margin: {top: -40px; left: -35px;} position: absolute; text-align: center; top: 0; width: 70px; z-index: 5; 
    i { margin-left: -1px; }
  }
  
  &:hover {
    > a:after { @include box-shadow(#{inset 0 0 60px 40px rgba($black, .3)}); }
  }
}

/**
 * Keep in touch
 */
.keep-in-touch { background: image-url('keep-in-touch.jpg') center center #e5e5e5; background-size: cover; margin: {bottom: -($footer-top + 50px); top: 50px;} overflow: hidden; padding: {bottom: 100px; top: 60px;} position: relative; text-align: center; z-index: 1;
  .media { margin-top: -5px;
    .media-body { padding: 5px; }
    .pull-right { margin:{top: 5px; bottom: 5px;} }
  }
  
  .text-primary { text-shadow: 1px 1px 3px rgba($white, .5); }
  
  hr { border-top-color: #c1c1c1; border-bottom: 1px solid $white; }
  
  // Social Links
  .soc-links { @include inline-block; margin: 0 auto;
    li { float: none; margin-bottom: 20px;
      + li { margin-left: 0; }
    
      @media (min-width: $screen-xs-min) { float: left; 
        + li { margin-left: 20px; }
      }
    }
    
    @media (min-width: $screen-sm-min) { margin-top: -20px; }
  }
  
  &:after { bottom: 100%; content: ''; display: block; height: 80%; left: -10%; position: absolute; width: 120%; z-index: -1; }
  &:after { background: $body-bg; @include rotate(1.5deg); margin-bottom: -1.5%; }
  
  .bg-top {
    &:before, &:after { bottom: 100%; content: ''; display: block; height: 80%; left: -10%; position: absolute; width: 120%; z-index: -1; }
    &:after { background: #e5e5e5; @include rotate(-2.5deg); margin-bottom: -1%; }
    &:before { background: #cfcfcf; @include rotate(3.5deg); margin-bottom: -2.5%; }
  }
  
  @media (min-width: $screen-md-min) {  padding: {bottom: 150px; top: 150px;}
    .bg-top {
      &:after { @include rotate(-1deg); }
      &:before { @include rotate(2.5deg); }
    }
  }
  
  @media (min-width: $screen-sm-min) { background-attachment: fixed; }
}

/**
 * Filters List
 */
.filter-list { margin-left: 14px; 
  @media (min-width: $screen-md-min) {
    .radio, .checkbox { padding-left: 35px; }
    .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] { margin-left: -35px; }
  }
}

.filters-n-map { margin-bottom: 10px; }


/**
 * Slider Range (jQuery UI slider)
 */
.slider-range { background: #e6e6e6; border-radius: 20px; border-color: #999999 #d4d4d4 #e0e0e0; @include box-shadow(#{inset 0 1px 3px rgba($black, .2)}); height: 16px;
  .ui-slider-range { background: #aed4e6; border-radius: 20px; @include box-shadow(#{inset 0 1px 3px rgba($black, .2)}); }
  .ui-slider-handle { @extend .fa; background: $body-bg; border: 1px solid #d6d6d6; border-radius: 20px; color: #d6d6d6; cursor: pointer; font: {size: 14px; weight: normal;} height: 28px; line-height: 27px; margin: {left: -15px; top: -15px; right: 0;} text-align: center; top: 50%; @include rotate(-90deg); width: 28px; 
    &:before { content: '\f0c9'; }
    &:hover, &:focus { background: $white; outline: none; text-decoration: none; }
  }
}

// Price Range
.wrapper-price-range { margin-bottom: 8px; @include clearfix;
  h6 { margin: {bottom: 20px; top: 0;} }
  
  .price-titles { color: $gray-dark; font: {size: 15px; weight: bold;} height: 30px; margin-top: 12px; position: relative;
    li { position: absolute; left: 0; top: 0; white-space: nowrap; 
      + li { left: (100% / 3); margin-left: -10px; 
        + li { left: (100% / 3 * 2); margin-left: -15px; 
          + li { left: auto; right: 0; }
        }
      }
    }
    
    @media (min-width: $screen-md-min) { font-size: 18px; }
  }
  
  .wrapper-slider { margin: 0 15px;
    @media (min-width: $screen-md-min) { margin: 0; }
  }
}

/**
 * Sort By Unit
 */
.sort-by-unit { font: {family: $font-family-serif; size: 14px;} margin: {top: 20px; bottom: 20px;} text-align: left; @include clearfix; 
  ul { margin: 0;
    > li { padding: {left: 0; right: 0;}
      + li:before { content: '|'; display: inline; font: {family: Arial, sans-serif; size: 14px; weight: normal;} left: -1px; margin: 0 3px; position: relative; top: -2px; }
    }
  }
  a { color: $text-color; text-decoration: none; 
    &:hover { text-decoration: underline; }
  }
  .active a, a.active { color: $blue; font-weight: bold; }
  .sort-header { font-size: 12px; margin-right: 4px; 
    + li:before { display: none; }
  }
  
  @media (min-width: $screen-lg-min) { text-align: right; }
  @media (min-width: $screen-sm-min) {
    .sort-header { margin-right: 14px; }
  }
}

/**
 * Item Place  
 */ 
.item-place { @extend .thumbnail; color: $gray-dark; font-size: 12px; margin: 0 auto 25px; max-width: 230px;
  > a { display: block; position: relative;
    img { border-radius: $thumbnail-border-radius $thumbnail-border-radius 0 0; }
    &:after { border-radius: $thumbnail-border-radius $thumbnail-border-radius 0 0; content: ''; display: block; height: 100%; left: 0; position: absolute; right: 0; top: 0; @include transition(#{all .3s}); z-index: 1; }
  }
  
  h4 { font-size: 18px; margin: {bottom: 3px; top: 13px;} min-height: 65px;
    > a { color: $gray-dark; }
    > small { display: block; font-size: 12px; margin-top: 3px;
      a { color: $text-color; }
    }
    a { display: block;
      &:hover, &:focus { color: $blue!important; }
    }
  }
  
  h6 { font: {size: 12px; weight: normal;} margin: {bottom: 6px; top: 12px;} 
    .flaticon-running { font-size: 26px; height: 22px; left: -5px; position: relative; width: 24px; }
    .fa-calendar { font-size: 17px; height: 22px; position: relative; top: 4px; width: 25px; }
    .media-body { padding-top: 6px; }
    
    + .list-inline { 
      > li { padding: {left: 0; right: 0;} 
        + li:before { content: ', '; margin-left: -2px; }
      }
    }
  }
  
  figcaption { border-top: 6px solid $orange; padding: 0 16px 5px; }
  
  hr { border-color: #f0f0f0; margin: 10px -4px; }
  
  &:hover {
    > a:after { @include box-shadow(#{inset 0 0 40px 20px rgba($black, .3)}); }
  }
}

// Rating
.rating { font-size: 22px; @include clearfix;
  li { padding: {left: 0; right: 0;} }
  
  .fa { color: $gray-lighter; }
  .fa-eur { font-weight: bold; }
  
  .active .fa-star, .fa-star.active { color: $orange; }
  .active .fa-eur, .fa-eur.active { color: $gray-dark; }
  
  &.rating-lg { font-size: 28px; }
}

/**
 * Provider Unit
 */

// Provider Cover
.provider-cover { margin: (-30px) (-$grid-gutter-width / 2) 24px; position: relative;
  img { margin: {left: auto; right: auto;} }
  
  .overlay { @include box-sizing(#{border-box}); padding: {left: ($grid-gutter-width / 2); right: ($grid-gutter-width / 2);} 
    h4 { font-size: 18px; margin-bottom: -4px; } 
    p { margin-bottom: 16px; }
  }
  
  @media (min-width: $screen-sm-min) { margin-top: -60px;
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: $white; }
    .overlay { bottom: 0; @include box-shadow(#{inset 0 -100px 50px -25px rgba($black, .6)}); color: $white; left: 0; padding-top: 27px; position: absolute; right: 0; text: {align: right; shadow: 0 0 5px $black;} }
  }
  
  @media (min-width: $screen-lg-min) { margin: {left: -$grid-gutter-width; right: -$grid-gutter-width;} }
}

.no-boxshadow .provider-cover {
  .overlay { background: rgba($black, .4); } 
}

.no-rgba .provider-cover {
  .overlay { background: $black; @include opacity(.8); }
}

// Provider Top Info (Picture and Gallery Images)
.provider-top-info {  
  @media (min-width: $screen-sm-min) {
    > img { margin: {top: (-175px + 63px); right: 23px;} width: 175px; }
  }
  
  @media (min-width: $screen-lg-min) {
    > img { margin-top: (-230px + 63px); width: 230px; }
  }
}

// Provider Gallery Slider
.provider-gallery-slider { @include inline-block; padding-right: 20px; overflow: hidden; position: relative;
  .next-slide { color: $gray-light; display: none; font-size: 40px; line-height: 70px; position: absolute; right: 0; top: 0; z-index: 2;
    &:hover { color: $blue; }
  }
  
  .swiper-slide { width: 79px; }
  
  .swiper-container { height: 70px; margin: 0; width: 316px; }
  
  .inner { overflow: hidden; position: relative; width: 237px; @include clearfix; }
  
  @media (min-width: 430px) { 
    .inner { width: auto; }
  }
  
  .thumbnail { @include box-shadow(#{3px 3px 5px -2px rgba($black, 0.35)}); }
  
  // Active Slideshow
  &.active-slideshow {
    .next-slide { display: block; }
  }
}

// Provider Right Info (Website, Email, Phone)
.provider-right-info {
  .btn { font-size: 14px; max-width: 100%; margin: {left: auto; right: auto;} width: 315px; }
  
  .provider-address {
    .btn-block { padding: {left: $padding-base-horizontal; right: $padding-base-horizontal;} text-align: left; 
      .fa { font-size: 22px; margin: -10px 10px -10px 0; min-width: 34px; position: relative; top: 3px; }
      .fa-envelope-o { top: 2px; }
    }
  }
  
  .wrapper-map { margin-top: 28px; 
    .bottom-info { margin-top: -6px;
      .fa-map-marker { color: $blue; font-size: 41px; }
      .media { margin-top: 3px;
        .small { margin-top: -4px; }
      }
    }
  }
}

// Provider Review
.provider-review { border: 1px solid lighten($gray-lighter, 10%); border-radius: 3px; margin-bottom: 33px; padding: 15px 20px 0; 
  .top-info { border-bottom: 1px solid lighten($gray-lighter, 10%); margin: {left: -11px; right: -11px;} padding: {left: 11px; right: 11px; bottom: 8px;}
    h6 { margin: {top: 15px; bottom: 0; right: 13px;} }
  }
  .bottom-info {
    h6 { font-size: 18px; margin: {top: 20px; bottom: 10px;} }
  }
}

// Row Options
.row-options {
  .inner-col { display: table; width: 100%; }
  h6, p { display: table-cell; height: 55px; margin: 0; vertical-align: middle; width: 100%; }
}

// Opening Hours List
.open-hours-list {
  > h6 {
    .fa-clock-o { font-size: 27px; }
    .media .media-body { padding-top: 5px; }
  }
  
  > ul { font-size: 16px;
    li { @include clearfix;
      .day { float: left; margin-right: 10px; }
      .time { float: right; }
    }
    .active { color: $blue; font: {size: 18px; weight: bold;} }
  }
}

// Item Pricing
.item-pricing { margin-bottom: 30px;
  h6 { font-size: 18px; line-height: 1.4; margin: {top: 0; bottom: 4px;} padding-top: 10px;
    + .small { color: $gray-dark; font-size: 14px;
      time { color: $gray-light; }
    }
  }    
  
  .media { padding-left: 12px; 
    > .pull-right { float: none!important; margin-left: 0; }
    
    @media (min-width: $screen-sm-min) {
      > .pull-right { float: right!important; }
    }
  }
  
  .price { background: $orange; color: $white; font: {family: $font-family-serif; size: 36px; weight: bold;} line-height: 1.5; padding: 5px 10px 12px; text-align: center; width: 175px;
    sup { font-size: 60%; top: -0.4em; }
    .small { font: {family: $font-family-sans-serif; size: 16px; weight: normal;} }
  }
}

// Filter calendar sidebar
.filter-calendar-sidebar { font-size: 14px; line-height: 1.15; margin: {top: 23px; left: auto; right: auto;} max-width: 315px; text-align: center;
  .dropdown { margin-bottom: 45px; }
  h6 { font-size: 14px; margin: {top: 22px; bottom: 1px;} }
  p { margin-bottom: 15px; }
  
  @media (min-width: $screen-md-min) { text-align: inherit; }
}

.last-updated { margin-top: 40px; text-align: center; }

/**
 * Item Blog
 */
.item-blog {
  h3 { margin: {top: 0; bottom: 21px;}
    a { color: $gray-dark; display: block; 
      &:hover { color: $blue; }
    }
    
    @media (min-width: $screen-md-min) { margin-top: 15px; }
  }
  
  .bottom-info, .top-info { line-height: 25px; margin-bottom: 25px; @include clearfix;
    > ul { color: $gray-light; float: left; font-size: 14px; margin-right: 10px;
      li + li { margin-top: 5px; }
      
      @media (min-width: $screen-sm-min) {
        li { float: left; 
          + li { margin: {left: 28px; top: 0;} }
        }
      }
      
      a { color: $gray-light; text-decoration: none;
        &:hover { color: $blue; }
      }
      
      i { font-size: 18px; }
      
      .flaticon-calendar { font-size: 25px; margin: {right: 8px; left: -2px;} position: relative; top: -3px; }
    }
    
    > a { clear: left; float: left; font: {family: $font-family-serif; size: 16px; weight: bold;} line-height: 24px; margin-top: 15px; text-decoration: none; 
      .fa { font-size: 13px; }
      
      @media (min-width: $screen-md-min) { clear: none; float: right; margin-top: 0; }
    }
  }
  
  .top-info { margin: {top: -10px; bottom: 12px;} }
}

* + .item-blog { margin-top: 30px; }


/* ==========================================================================
   Full Calendar Styles
   ========================================================================== */

.fc-header {
  .fc-header-left, .fc-header-right { display: none; }
  .fc-header-title h2 { @extend h6; margin: 4px 0 0; }
  .fc-header-space { padding-left: 17px; }
  .fc-button { margin-bottom: 0; }
}

.fc-content { margin-top: 42px; }

.fc-button { @extend .btn; @extend .btn-shadow; @extend .btn-primary; @extend .btn-xs; border-radius: 50px!important; color: $white; height: auto; min-width: 65px; text-shadow: none; }

.fc-widget-header, .fc-widget-content { border-color: lighten($gray-lighter, 10%); }

.fc-state-highlight { background: #f9f9f9; } 

.fc-border-separate tr.fc-last th, .fc-border-separate tr.fc-last td { border-bottom-width: 2px; border-bottom-color: #d3d3d3; }

.fc-border-separate {
  th, td { border-width: 1px 1px 0 0; }
  thead tr.fc-first th { border-top: 0 none!important; color: $gray-light; font: {family: $font-family-serif; weight: normal;} padding: 6px 0; }
  th.fc-last, td.fc-last { border-right: 0 none!important; }
}

.fc-minor > th, .fc-minor > td { border-bottom: 1px solid #d3d3d3!important; }

.fc-agenda { color: $gray-dark; font: {family: $font-family-sans-serif; size: 12px;}
  .fc-agenda-axis { border-left: 0 none!important; }
}

.fc-agenda-slots tr.fc-minor th, .fc-agenda-slots tr.fc-minor td { border-top: {style: solid; color: #f3f3f3;} }


/* ==========================================================================
   Footer Styles
   ========================================================================== */

.footer { color: $gray-lighter; overflow: hidden; margin-top: -50px; padding-top: 50px + $footer-top; position: relative; text-align: center; z-index: 5;
  .btn-circle { background: $white; border-radius: 50px; @include box-shadow(#{0 -3px 6px rgba($black, .6)}); color: $gray-dark; font-size: 37px; height: 80px; line-height: 80px; left: 50%; margin: {top: -50px; left: -40px;} position: absolute; top: 0; @include transition(#{all .3s}); width: 80px; z-index: 5; 
    &:hover, &:focus { @include box-shadow(#{none}); color: $blue; }
  }
  
  a { color: $gray-lighter; 
    &:hover, &:focus { color: lighten($gray-lighter, 12%); text-decoration: underline; }
  }
  
  h6, .h6 { font: {size: 18px; weight: bold;} margin-top: 50px; }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: $white; }

  hr { border: {top-color: darken($gray-dark, 5%); bottom: 1px solid lighten($gray-dark, 5%);} }
  
  .container > hr { 
    @media (min-width: $screen-sm-min) { margin: 30px -#{$grid-gutter-width / 2} 36px; }
    @media (min-width: $screen-lg-min) { margin: 30px -30px 36px; }
  }
  
  .copyright { font-size: 14px; }
  
  @media (min-width: $screen-sm-min) { text-align: left; }
  
  > .inner { background: $gray-dark; padding-top: 50px; position: relative; @include clearfix;
    &:before, &:after { top: 0; content: ''; display: block; height: 80%; position: absolute; z-index: -1; }
    &:before { background: $gray-dark; right: -20%; margin-top: -3%; @include opacity(.5); @include rotate(-3deg); width: 120%; }
    &:after { background: $gray-dark; left: -20%; margin-top: -2.5%; @include opacity(.3); @include rotate(3.5deg); width: 120%; }
    
    @media (min-width: $screen-md-min) {
      &:before { right: -10%; @include rotate(-1.2deg); margin-top: -1.2%; }
      &:after { left: -10%; @include rotate(2deg); margin-top: -1%; }
    }
  }
}

/* List Links */
.list-links {
  li { padding: {left: 0; right: 0;} 
    + li:before { content: '|'; display: inline; font: {family: Arial, sans-serif; size: 14px; weight: normal;} margin: 0 7px; position: relative; top: -2px; }
  }
}


/* ==========================================================================
   Icons
   ========================================================================== */

// Flaticon
@font-face {  
  font-family: 'Flaticon';
  src: asset-url('icons/flaticon.eot');
  src: asset-url('icons/flaticon.eot?#iefix') format('embedded-opentype'),
       asset-url('icons/flaticon.woff') format('woff'),
       asset-url('icons/flaticon.ttf') format('truetype'),
       asset-url('icons/flaticon.svg#flaticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: 'Flaticon';
  font-style: normal;
}

.flaticon-running:before { content: "\e003"; }
.flaticon-24hour:before { content: "\e000"; }
.flaticon-euro:before { content: "\e002"; }
.flaticon-shake:before { content: "\e004"; }
.flaticon-calendar:before { content: "\e001"; }

// Icon Circle
.ico-circle { background: $gray-dark; border-radius: 40px; color: $white; font-size: 20px; height: 40px; line-height: 40px; overflow: hidden; text-align: center; width: 40px!important; 
  &.ico-lg { height: 50px; font-size: 24px; line-height: 50px; width: 50px!important; }
  
  &.ico-orange { background: $orange; }
  &.ico-red { background: $red; }
  &.ico-blue { background: $blue; }
  
  &.flaticon-running { font-size: 30px; 
    &.ico-lg { font-size: 38px; }
  }
  
  &.flaticon-24hour { font-size: 38px; 
    &.ico-lg { font-size: 48px; }
  }
  
  &.flaticon-euro { font-size: 21px; 
    &.ico-lg { font-size: 29px; }
  }
  
  &.flaticon-shake { font-size: 20px; 
    &.ico-lg { font-size: 25px; }
  }
  
  &.flaticon-calendar { font-size: 32px; 
    &.ico-lg { font-size: 39px; }
  }
}

// Icon Provider
.ico-provider.glyphicon { font-size: 18px; }

.media {
  > .ico-circle { margin-bottom: 1px; 
    + .media-body { margin-top: 10px; }
    
    &.ico-lg + .media-body { margin-top: 12px; }
  }
  
  > .pull-left, > .fa.pull-left {
    margin-right: 10px;
  }
  
  > .pull-right, > .fa.pull-right {
    margin-left: 10px;
  }
}

.fa-question-circle { margin-left: 5px; }

/**
 * List Tags
 */
.list-tags { font-size: 17.5px; 
  > li { margin-bottom: 10px; }
}

/**
 * Pagination row (with Older and Newer buttons)
 */
.pagination-row { margin-bottom: 30px; @include clearfix; 
  > .btn { min-width: 110px; 
    &.pull-left .fa { margin-right: 2px; }
    &.pull-right .fa { margin-left: 2px; }
    
    @media (min-width: $screen-sm-min) { min-width: 140px; }
  }
}


/* ==========================================================================
   Special Classes
   ========================================================================== */
  
.no-marg-top { margin-top: 0!important; }
.no-marg-bottom { margin-bottom: 0!important; }

.marg-top { margin-top: 20px!important; }
.marg-bottom { margin-bottom: 20px!important; }
.marg-right { margin-right: 15px!important; }
.marg-left { margin-left: 15px!important; }

.lower { text-transform: lowercase!important; }
.upper { text-transform: uppercase!important; }

.hidden-xsmall { display: none!important; 
  @media (min-width: $screen-xs-min) { display: inherit!important; }
}

.text-center-sm { text-align: center; 
  @media (min-width: $screen-md-min) { text-align: inherit; }
}

.nowrap { white-space: nowrap!important; }

.col-centered { float: none; margin: 0 auto; }
