%ul.soc-links.list-inline
  %li
    = link_to 'https://www.facebook.com/fitogram', :title => 'Connect with us on Facebook', :class => 'btn btn-soc s-facebook', :target => '_blank' do
      %i.fa.fa-facebook
  %li
    = link_to '#', :title => 'Connect with us on Twitter', :class => 'btn btn-soc s-twitter', :target => '_blank' do
      %i.fa.fa-twitter
  %li
    = link_to '#', :title => 'Connect with us on Google', :class => 'btn btn-soc s-google', :target => '_blank' do
      %i.fa.fa-google-plus